{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "parser": "vue",
  "printWidth": 90
}
