
.dev {
  border: 1px dashed tomato;
}

#wrapper {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto 1fr 30px;
}

#my_nav {
  grid-row: 1/2;
}
#content {
  grid-row: 2/3;
}
#my_footer {
  grid-row: 3/4;
}
