
.dev {
  border: 1px dashed tomato;
}

#wrapper {
  min-height: 100vh;
  display: grid;
  /* background-color: black; */

  grid-template-columns: auto;
  grid-template-rows: auto 1fr minmax(50px, 100px);
}

#my_nav {
  grid-row: 1/2;
}
#content {
  grid-row: 2/3;
  /* background-color: pink; */
}
#my_footer {
  grid-row: 3/4;
}
